
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <h1 class="mt-4 text-center">Welcome To PrinceBazar.Com</h1>
    <p class="text-center">A Second Big Online Product Market-Place In Bangladesh </p>
    <div style="height: 100vh;">
        <div class="row">
            <div class="col-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <img src="~/Image/mobiles.png" class="pl-5" />
                        <h4 class="text-primary text-center">Mobiles</h4>
                        <p>Buy and sell new and used mobiles, SIM cards and other mobile accessories in Bangladesh. Choose Apple, OnePlus, Xiaomi and Nokia.</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <img src="~/Image/tech.png" class="pl-5 ml-3" />
                        <h4 class="text-center text-primary">Technology</h4>
                        <p>Find great deals for used electronics in Bangladesh including mobile phones, computers, laptops, TVs, cameras and much more.</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <img src="~/Image/homes.png" class="pl-5 pr-2 mt-1" />
                        <h4 class="text-center text-primary">Home & Living</h4>
                        <p>Buy and sell new and used home appliances including furniture, kitchen items, gardening products and other items for your garden</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <img src="~/Image/car.png" class="pl-5 pr-2" />
                        <h4 class="text-center text-primary">Vehicles</h4>
                        <p>Buy and sell used cars, motorbikes and other vehicles in Bangladesh. Choose from top brands(Toyota, Suzuki)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <img src="~/Image/apart.png" class="pl-5 ml-4" />
                        <h4 class="text-primary text-center">Property</h4>
                        <p>Find the cheapest rates for apartments, commercial and residential properties, as well as for land and plots.</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <img src="~/Image/basket.png" class="pl-5 ml-3" />
                        <h4 class="text-center text-primary">Essentials</h4>
                        <p>Find groceries, healthcare products, household items, fruits & vegetables, meat & seafood and baby products near you</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <img src="~/Image/edu.png" class="pl-5" />
                        <h4 class="text-center text-primary">Education</h4>
                        <p>Buy and sell books and magazines, find tuition, classes and other educational resources in Bangladesh</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <img src="~/Image/fashn.png" class="pl-5 pr-2" />
                        <h4 class="text-center text-primary">Fashion & Beauty</h4>
                        <p>Buy and sell clothing, garments, shoes and other personal items including handbags, perfumes etc near you</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4 mb-4">
        <div class="card-body">
            <div class="row offset-2">
                <div class="col-3">
                    <h6>Learn More</h6>
                    <p class="text-primary">How To Sell First</p>
                    <p class="text-primary">Doorstep Delivery</p>
                    <p class="text-primary">MemberShip</p>
                    <p class="text-primary">Promote Add</p>
                </div>
                <div class="col-3">
                    <h6>Help & Support</h6>
                    <p class="text-primary">FAQ</p>
                </div>
                <div class="col-3">
                    <h6>About Us</h6>
                    <p class="text-primary">Terms & Policy</p>
                    <p class="text-primary">Terms & Condition</p>
                    <p class="text-primary">Privacy Policy</p>
                    <p class="text-primary">Site Map</p>
                </div>
                <div class="col-3">

                </div>
            </div>
        </div>
    </div>
</div>


